body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
padding: 0;
font-family: "Work Sans", sans-serif;
background: linear-gradient(to bottom, hsla(275, 100%, 97%, 0) 0%, hsla(275, 100%, 97%, 0) 33%, hsl(275, 100%, 97%) 33%, hsl(275, 100%, 97%) 100%),
url(/assets/images/background-pattern-desktop.svg) center top;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    width: 80%; 
    max-width: 600px; 
    padding: 20px; 

}

.title {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0px 0px 10px;
}

.star {
    height: 30px;
    margin: 0px 10px 0px 0px;
}

.answer {
    display: none;
}

.answer.show {
    display: block;
    color: hsl(292, 16%, 49%);
    margin: 10px;
}

.question {
    margin: 10px;
    padding: 10px;
    color: hsl(292, 42%, 14%);
    cursor: pointer;
   

}

.question:hover {
    color: hsl(292, 16%, 49%)
}

.faq-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    
    max-width: 600px; 
 
    position: relative;
}

.question-wrapper {
    flex: 1; 
}

.icon-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    right: 20px; 
}


.icon {
width: 25px;
height: 25px;
  cursor: pointer;
transition: transform 0.3s;
}

.question.active .icon {
    transform: rotate(45deg);
}

.attribution {
    color:white;
    margin-bottom: 10px;
}
